<% if comment == @current_comment %>
  <tr id="current_comment">
<% else %>
  <tr>
<% end %>

  <td class="comment">
    <span class="user">
      <%= link_to comment.user.nickname, comment.user %>
    </span>
    <span class="content"><%= comment.body %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
  </td>
  <% if is_current_user? comment.user %>
    <td class="actions">
      <%= link_to 'Destroy', [comment.post, comment],
        confirm: 'Are you sure?', method: :delete, remote: true %>
    </td>
  <% else %>
    <td class="actions"></td>
  <% end %>
</tr>
