<% if comment == @current_comment %>
  <div id="current_comment">
<% else %>
  <div>
<% end %>

<p>
  <b>Commenter:</b>
  <%= comment.user.nickname %>
</p>
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

</div>

<p>
<%= link_to 'Destroy Comment', [comment.post, comment],
  confirm: 'Are you sure?', method: :delete, remote: true %>
</p>
