<div class="content">

<div class="row">
  <div class="span3">
    <%= link_to t('.new_microgroup'), new_microgroup_path, class: "btn btn-primary" %>
    <br />
    <br />
    <%= render 'sidebar' %>
    <%= render 'sidebar' %>
  </div> <!-- span3 -->

  <div class="span9">

    <div class="microgroups">
      <h1 class="microgroups">Listing microgroups</h1>
    </div>

    <table class="microgroups">
      <%= render @microgroups %>
    </table>

    <br />

  </div> <!-- span9 -->
</div> <!-- row -->

</div>
