<%= form_for([@microgroup, Micropost.new], remote: true) do |f| %>
  <%= form_error_messages! f.object %>
  <div class="field">
    <%= f.text_area :content, :rows => 3 %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
