<div class="content">

  <p>
  <% if user_signed_in? %>
    <h1 class="micropost">What's up?</h1>
    <%= render 'micropost_form' %>
  <% end %>
  </p>

  <hr>

  <div class="row">
    <div class="span8">
      <div class="microposts">
        <%= render :partial => 'microposts' %>
      </div>
    </div>

    <div class="span1">&nbsp;</div>

    <div class="span3">
      <%= render 'user_info' %>
    </div>
  </div>

</div>
