<div class="content">

  <p>
  <%= image_tag(@user.gravatar, size: "150x150") %>
  </p>

  <hr>

  <div class="row">
    <div class="span8">
      <div class="microposts">
        <%= render :partial => 'microposts' %>
      </div>
    </div>

    <div class="span1">&nbsp;</div>

    <div class="span3">
      <%= render 'user_info' %>
    </div>
  </div>

</div>
