<% if object.errors.any? %>
  <% messages = object.errors.full_messages.map { |msg| content_tag(:li, msg) }.join %>
  <% sentence = I18n.t("errors.messages.not_saved",
                    :count => object.errors.count,
                    :resource => object.class.model_name.human.downcase) %>
  <div class="alert alert-block">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading"><%= sentence.html_safe %></h4>
    <ul> <%= messages.html_safe %></ul>
  </div>
<% end %>
