<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Twidder", root_path, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <% items = show_nav_items %>
          <% items.each do |item| %>
            <% if item.active %>
              <li class="active"><%= link_to item.name, item.link %></li>
            <% else %>
              <li><%= link_to item.name, item.link %></li>
            <% end %>
          <% end %>
        </ul>
        <%= render 'shared/navuser' %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
