<div class="span8">
  <% showdata = add_linenum(@blob) %>
  <pre class="prettyprint">
    <%= showdata.html_safe %>
  </pre>
  <script>$(function () { prettyPrint() })</script>
</div> <!-- span8 -->

<div class="span4">
  <% if user_signed_in? and @line != nil %>
    <div id="new_review">
      <%= render 'reviews/form' %>
    </div>
  <% end %>
  <% if @line != nil %>
    <div id="reviews">
      <%= render :partial => 'reviews' %>
    </div>
  <% else %>
    <%= review_summary(@blob, @project, @paths).html_safe %>
  <% end %>
</div> <!-- span4 -->
