<div class="row">
  <div class="span8">
    <%= render 'path' %>
  </div> <!-- span8 -->

  <% if @blob %>
    <%= render 'blob' %>
  <% else %>
    <%= render 'tree' %>
  <% end %>
</div> <!-- row -->

<hr>
<%= debug params %>
<hr>
