<% bcpaths = breakscrumb_paths(@paths) %>
<ul class="breadcrumb">
  <% bcpaths.each do |bcp| %>
    <% if bcp.active %>
      <li class="active"><%= bcp.name %></li>
    <% else %>
      <li><%= link_to bcp.name, tree_project_path(@project, 'tree', bcp.link) %> <span class="divider">/</span></li>
    <% end %>
  <% end %>
</ul>
