<div class="content">

<div class="row">
  <div class="span3">
    <%= link_to t('.new_project'), new_project_path, class: "btn btn-primary" %>
    <br />
    <br />
    <%= render 'tag' %>
  </div> <!-- span3 -->

  <div class="span9">
    <ul class="nav nav-pills">
      <li><a href="<%= microgroups_path %>" data-toggle="pill">Most recent</a></li>
      <li><a href="#" data-toggle='pill'>Most watched</a></li>
      <li><a href="#" data-toggle='pill'>Most commented</a></li>
    </ul>
    <br />

    <div class="projects">
      <h1>Most watched projects</h1>
      <%= render @projects %>
    </div>
  </div> <!-- span9 -->

</div> <!-- row -->

</div>
