<h1>Listing microposts</h1>

<% if @microposts.any? %>
  <table class='microposts'>
    <%= render :partial => '/users/micropost', :collection => @microposts %>
  </table>
  <%= will_paginate(@microposts, inner_window: 1, outer_window: 1) %>
<% end %>

<br />

<%= link_to 'New Micropost', new_micropost_path %>
