// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.liang {
//overflow: auto;
//margin-top: 1em;
//border-bottom: 1px dotted #77d;
//min-height: 100px;

  .news {
    background-color: gray;
    border: solid 1px black;

    img {
      float: left;
      width: 100px;
      margin: 5px;
    }

    p {
      float: right;
    }

    .clear {
      clear: both;
    }
  }
}

body {
  font: 62.5% Verdana, Helvetica, Arial, sans-serif;
  color: #555;
  background: #dfd;
  
#switcher {
  width: 300px;
  padding: .5em;
  border: 1px solid #777;
}
.lualabel {
  width: 130px;
  margin: .5em 0;
  cursor: pointer;
}
}
